<ul class="collection with-header z-depth-1">
  <li class="collection-header">
    <h5>{{model.account.description}}
      <div class="secondary-content">{{format-number model.account.balance}}</div>
    </h5>
  </li>
  {{#if model.transactions}}
    {{#each model.transactions as |transaction|}}
      <li class="collection-item">
        <div class="title">
          {{transaction.description}}
          <div class="secondary-content">{{format-number transaction.amount}}</div>
        </div>
        {{moment-format transaction.postedDate 'MMM D'}}
      </li>
    {{/each}}
  {{else}}
    <li class="collection-item">): There aren't any transactions here yet.</li>
  {{/if}}
</ul>
